.main {
    max-width: 1160px;
    background-color: #fbf8ef;
    margin: 60px auto;
    color: #525252;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 174px 90px 174px;
    box-sizing: border-box;
    gap: 88px;
}

.main-texto {
    text-align: center;
    font-size: 32px;
}

.main-indicacao {
    text-align: center;
    font-size: 20px;
}
